In [5]:
import os 
import numpy as np
import pandas as pd

In [18]:

os.chdir("E:\\PYTHON\\04-Pandas-Exercises")
os.getcwd()

'E:\\PYTHON\\04-Pandas-Exercises'

In [19]:
pokemon = pd.read_csv("Pokemon.csv")

In [20]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [22]:
type(pokemon)

pandas.core.frame.DataFrame

In [23]:
type(pokemon['Name'])

pandas.core.series.Series

In [25]:
type(pokemon['Name'].values)

numpy.ndarray

In [28]:
pokemon['Name'][0]

'Bulbasaur'

In [29]:
type(pokemon['Name'].values[0])

str

In [30]:
pokemon['Name'].head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [31]:
len(pokemon)

800

In [32]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
#             800 non-null int64
Name          800 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
Total         800 non-null int64
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [34]:
pokemon.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [35]:
pokemon.sum()

#                                                        290251
Name          BulbasaurIvysaurVenusaurVenusaurMega VenusaurC...
Type 1        GrassGrassGrassGrassFireFireFireFireFireWaterW...
Total                                                    348082
HP                                                        55407
Attack                                                    63201
Defense                                                   59074
Sp. Atk                                                   58256
Sp. Def                                                   57522
Speed                                                     54622
Generation                                                 2659
Legendary                                                    65
dtype: object

In [36]:
pokemon.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [37]:
pokemon['Legendary'].sum()

65

In [38]:
legendarypokeon = pokemon['Legendary'].sum()

In [39]:
pokemon[pokemon['Name']=='Pikachu']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False

In [48]:
pokemon.loc[:,'Name'].isin(['Pikachu','Bulbasaur'])

0       True
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
770    False
771    False
772    False
773    False
774    False
775    False
776    False
777    False
778    False
779    False
780    False
781    False
782    False
783    False
784    False
785    False
786    False
787    False
788    False
789    False
790    False
791    False
792    False
793    False
794    False
795    False
796    False
797    False
798    False
799    False
Name: Name, Length: 800, dtype: bool

In [49]:
pokemon[pokemon.loc[:,'Name'].isin(['Pikachu','Bulbasaur'])]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False

In [50]:
pokemon[pokemon.loc[:,'Type 1'].isin(['Grass','Electric'])]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
31,26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
88,81,Magnemite,Electric,Steel,325,25,35,70,95,55,45,1,False
89,82,Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
108,100,Voltorb,Electric,NaN,330,40,30,50,55,55,100,1,False
109,101,Electrode,Electric,NaN,480,60,50,70,80,80,140,1,False
110,102,Exeggcute,Grass,Psychic,325,60,40,80,60,45,40,1,False
111,103,Exeggutor,Grass,Psychic,520,95,95,85,125,65,55,1,False
122,114,Tangela,Grass,NaN,435,65,55,115,100,40,60,1,False
134,125,Electabuzz,Electric,NaN,490,65,83,57,95,85,105,1,False
146,135,Jolteon,Electric,NaN,525,65,65,60,110,95,130,1,False
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
166,152,Chikorita,Grass,NaN,318,45,49,65,49,65,45,2,False
167,153,Bayleef,Grass,NaN,405,60,62,80,63,80,60,2,False
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
193,179,Mareep,Electric,NaN,280,55,40,40,65,45,35,2,False
194,180,Flaaffy,Electric,NaN,365,70,55,55,80,60,45,2,False
195,181,Ampharos,Electric,NaN,510,90,75,85,115,90,55,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,496,Servine,Grass,NaN,413,60,60,75,60,75,83,5,False
556,497,Serperior,Grass,NaN,528,75,75,95,75,95,113,5,False
570,511,Pansage,Grass,NaN,316,50,53,48,53,48,64,5,False
571,512,Simisage,Grass,NaN,498,75,98,63,98,63,101,5,False
581,522,Blitzle,Electric,NaN,295,45,60,32,50,32,76,5,False
582,523,Zebstrika,Electric,NaN,497,75,100,63,80,63,116,5,False
606,546,Cottonee,Grass,Fairy,280,40,27,60,37,50,66,5,False
607,547,Whimsicott,Grass,Fairy,480,60,67,85,77,75,116,5,False
608,548,Petilil,Grass,NaN,280,45,35,50,70,50,30,5,False
609,549,Lilligant,Grass,NaN,480,70,60,75,110,75,90,5,False
617,556,Maractus,Grass,NaN,461,75,86,67,106,67,60,5,False
648,587,Emolga,Electric,Flying,428,55,75,60,75,60,103,5,False
651,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
659,598,Ferrothorn,Grass,Steel,489,74,94,131,54,116,20,5,False
663,602,Tynamo,Electric,NaN,275,35,55,40,45,40,60,5,False
664,603,Eelektrik,Electric,NaN,405,65,85,70,75,70,40,5,False
665,604,Eelektross,Electric,NaN,515,85,115,80,105,80,50,5,False
701,640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True
704,642,ThundurusIncarnate Forme,Electric,Flying,580,79,115,70,125,80,111,5,True
705,642,ThundurusTherian Forme,Electric,Flying,580,79,105,70,145,80,101,5,True
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
764,694,Helioptile,Electric,Normal,289,44,38,33,61,43,70,6,False
765,695,Heliolisk,Electric,Normal,481,62,55,52,109,94,109,6,False
772,702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False

In [52]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [53]:
pokemon.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [59]:
#pokemon = pokemon.rename(columns{'#':'Num'})
pokemon = pokemon.rename(columns={'#':'Number'})

In [61]:
pokemon.head()
pokemon.columns

Index(['Number', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [64]:
#Common Pokemon ; Pokemon who is not Legendary
commonpoke = pokemon[pokemon['Legendary']==False]
commonpoke['Legendary'].sum()

0

In [65]:
# pokemon who are not mega in their name 
nonmegapoke = pokemon[~pokemon['Name'].str.contains('Mega')]

In [68]:
len(nonmegapoke)

751

In [90]:
#check how many pokemon are there for every number
checkpoke = pokemon['Number'].groupby(pokemon['Number']).count().sort_values(ascending=False)
checkpoke

Number
479    6
386    4
711    4
710    4
150    3
6      3
413    3
646    3
303    2
302    2
648    2
65     2
555    2
487    2
308    2
254    2
306    2
310    2
492    2
214    2
384    2
383    2
382    2
647    2
641    2
645    2
94     2
115    2
445    2
257    2
      ..
455    1
454    1
453    1
452    1
451    1
450    1
449    1
447    1
467    1
468    1
469    1
470    1
490    1
489    1
488    1
486    1
485    1
484    1
483    1
482    1
481    1
480    1
478    1
477    1
476    1
474    1
473    1
472    1
471    1
1      1
Name: Number, Length: 721, dtype: int64

In [98]:
# consider same name as duplicates ; kepe first and drop others
noduppoke = pokemon.drop_duplicates('Number', keep='first',inplace = False)

In [99]:
len( noduppoke['Number'].unique())

721

In [101]:
len( pokemon['Number'].unique())

721

In [117]:
# Which pokemon type is the strongest and which the weakest on average? (according to total stats)

strongestavg = noduppoke[['Type 1','Total']].groupby(noduppoke['Type 1']).mean().sort_values(by='Total',ascending=False)
strongestavg

               Total
Type 1
Dragon    501.958333
Steel     464.909091
Flying    453.333333
Fire      443.021277
Psychic   442.489362
Rock      437.804878
Dark      434.750000
Ice       427.086957
Ghost     423.652174
Ground    421.000000
Electric  420.694444
Water     417.200000
Fairy     413.176471
Grass     409.560606
Fighting  404.360000
Poison    399.142857
Normal    392.161290
Bug       365.126984

In [116]:
test = noduppoke[['Type 1','Total']].groupby(noduppoke['Type 1'])
test

In [120]:

strongmax = noduppoke[['Type 1','Total','Name']].sort_values(by='Total', ascending=False).groupby('Type 1')
strongmax

In [122]:
top5_poke = noduppoke[['Name', 'Total']].sort_values(by='Total', ascending=False)[0:5]
top5_poke

                      Name  Total
552                 Arceus    720
707                 Zekrom    680
544  GiratinaAltered Forme    680
270                  Ho-oh    680
269                  Lugia    680

In [128]:
generationpoke = noduppoke[['Generation','Total']].groupby(noduppoke['Total']).mean().sort_values(by='Total',ascending=False)

C:\Users\Anany\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'Total' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [157]:
# what type is pikachu
pikatype = noduppoke[noduppoke['Name']=='Pikachu']['Type 1'].values[0]
pikatype

'Electric'

In [158]:
type(pikatype)

str

In [176]:
pikaranktemp = noduppoke[noduppoke['Type 1']==pikatype].sort_values(by='Total', ascending=False)
import numpy as np
pikaranktemp['Rank'] = np.arange(0:35)

SyntaxError: invalid syntax (<ipython-input-176-6a3f56f854b4>, line 3)

,Number,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False